# Entorno virtual y dependencias
venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class


# Variables de entorno y secretos (¡NUNCA SUBIR AL REPO!)
.env
.env.local

# Archivos temporales que genera CatBoost al entrenar
catboost_info/

# Archivos del sistema y configuración local
# IDEs y editores de código
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Cobertura de pruebas y logs
*.log
.coverage
htmlcov/
.pytest_cache/